{% extends "api_base.html" %}
{% load thumbnail %}

{% block body %}

    <h2>Список новостей</h2>
    {% for a in current_page %}
    <div style="margin-top: 15px;">
        Пол новости: {{ a.for_sex_yesno|yesno:"М,Ж,М+Ж" }}<br />
        УРЛ заглавного фото: {% thumbnail a.photo "50x50" crop="center" as im %} {{im.url}} {% endthumbnail %} <br>
        УРЛ новости внутренний: {%  url 'external_news' a.id %}<br />
        УРЛ новости внешний: {{a.link}} <br />
        Название: {{ a.title }} <br>
        Короткое описание для главной: {{ a.description }}<br />
        Содержание: {{a.content}}
    </div>
    {% endfor %}

{% endblock %}
