{% extends 'base.html' %}
{% load thumbnail %}

{% block special_class %}for_article{% endblock %}

{% block body %}
 <script>
    jQuery(document).ready(function($) {
        $('html').addClass('article');
    });
</script>



            <!-- Основной контент -->
                <div class="up_button"></div>
                <div class="article__content">
                    <div class="article_without_background">
                        <div class="article_with_background">
                            <div class="main_photo__hdr">
                                {{ article_object.header }}
                                <div class="dateOfArticle">Добавлено : <span>{{article_object.date_publishing|date:"d.m.Y"}}</span></div>
                            </div>

                            <div class="main_photo__container_article">
                                <a class="rubric_label main_photo__rubric" href="{% url 'rubric' filterByRubricId=article_object.subrubric.rubric.id filterBySubRubricId=article_object.subrubric.id %}">{{ article_object.subrubric.name }}</a>
                                <div class="arcticle_photo__image" >
                                    {% thumbnail article_object.photo "606" as im %}
                                        <img src="{{ im.url }}" alt="" />
                                    {% endthumbnail %}
                                </div>



                            </div>
                            <div class="social_buttons">
                                    <figure>
                                         <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fpages%2Frublevkacom%2F742028069146350&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                                    </figure>
                                    <figure>
                                        <!-- Put this script tag to the <head> of your page -->
                                        <script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>

                                        <script type="text/javascript">
                                        VK.init({apiId: 3968419, onlyWidgets: true});
                                        </script>

                                        <!-- Put this div tag to the place, where the Like block will be -->
                                        <div id="vk_like"></div>
                                        <script type="text/javascript">
                                        VK.Widgets.Like("vk_like", {type: "mini"});
                                        </script>
                                    </figure>
                                    <figure>
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="Zinkevich_Neal">Tweet</a>
                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                    </figure>


                                    <div class="soc_views">
                                        230 просмотров
                                    </div>
                            </div>
                               {{ article_object.content|safe }}

                        </div>
                        <!--<aside>
                            <div><font>Теги:</font> Мирослава Дума, Burberry, Кристофер Бейли</div>
                            <div><font>Текст:</font> Денисов Максим</div>
                        </aside>
                        -->
                         <div class="social_buttons">
                                <figure>
                                     <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fpages%2Frublevkacom%2F742028069146350&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                                </figure>
                                <figure>

                                    <!-- Put this div tag to the place, where the Like block will be -->
                                    <div id="vk_like" style="height: 22px; width: 100px; background-image: none; position: relative; clear: both; background-position: initial initial; background-repeat: initial initial;"><iframe name="fXD71eac" frameborder="0" src="http://vk.com/widget_like.php?app=3968419&amp;width=100%&amp;_ver=1&amp;page=0&amp;url=http%3A%2F%2Fbogdan.rublevka.com%2Farticle%2F35%2F&amp;type=mini&amp;verb=0&amp;title=%D0%A0%D1%83%D0%B1%D0%BB%D0%B5%D0%B2%D0%BA%D0%B0&amp;description=&amp;image=&amp;text=&amp;h=22&amp;14251065294" width="100%" height="22" scrolling="no" id="vkwidget1" style="overflow: hidden; height: 22px; width: 100px; z-index: 150;"></iframe></div>

                                </figure>
                                <figure>
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="Zinkevich_Neal">Tweet</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                </figure>


                                <div class="soc_views">
                                    230 просмотров
                                </div>
                        </div>
                    </div>

                    <div id="mc-container"></div>
                    <script type="text/javascript">
                    var mcSite = '26705';
                    (function() {
                        var mc = document.createElement('script');
                        mc.type = 'text/javascript';
                        mc.async = true;
                        mc.src = '//cackle.me/mc.widget-min.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mc);
                    })();
                    </script>
                    <a id="mc-link" href="http://cackle.me">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>

                </div>



{% endblock %}
